<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>kisskiss</string>
	<string>liukoushui</string>
	<string>bigsmile</string>
	<string>dianzan</string>
	<string>xianwen</string>
	<string>nonono</string>
	<string>bigcry</string>
	<string>shengqi</string>
	<string>songhua</string>
	<string>weiqu</string>
	<string>houhouhou</string>
	<string>huaquanquan</string>
	<string>fennu</string>
	<string>running</string>
	<string>hanhehe</string>
	<string>egg</string>
	<string>egg</string>
</array>
</plist>
